<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
  
  
 <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <jmxConfigurator/>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%.-1level|%-40.40logger{0}|%msg%n</pattern>
    </encoder>
  </appender>
  
   <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>mongoDB-springBoot.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
 
 

 
  <logger name="pl.java.scalatech" level="info" />
  <logger name="org.springframework" level="info" />
  <logger name="com.mongodb" level="info" />
  <logger name="org.springframework.data" level="debug" />
  <logger name="org.springframework.data.mongodb" level="debug" />
  <logger name="org.springframework.cloud.netflix.zuul.web.ZuulHandlerMapping" level="WARN" />
   <logger name="org.springframework.data.rest.webmvc.RepositoryRestHandlerMapping" level="warn" />
  <logger name="org.springframework.data.rest.webmvc.BasePathAwareHandlerMapping" level="warn"/>
  <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate" level="warn"/>
  <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="warn"/>
  <logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="warn"/>
  <logger name="org.springframework.data.mongodb.core.MongoDbUtils" level="info"/>
  
    <logger name="com.mongodb.driver.cluster" level="info" additivity="false"/>
 
  <root level="info">
    <appender-ref ref="console" />
     <appender-ref ref="FILE" />
  </root>
</configuration>